.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(178, 231, 219);
  height: 40px;
  color: blue;
  font-size: 20px;
}

.link{
  text-decoration: none;
}

button {
  font-size: 20px;
}

